body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0 250px;
}

a {
  text-decoration: none;
  color: #fff;
}

.details {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.open .details {
  max-height: 15em;
  opacity: 1;
}

.details h2, .details p {
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: -2.5em 0 0 -2.5em;
}

.tile {
  position: relative;
  width: calc(33.3333% - 2.5em);
  margin: 2.5em 0 0 2.5em;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.tile > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tile-image {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tile-image img {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tile.style1 > .tile-image::before {
  background: #f2849e;
}

.tile.style2 > .tile-image::before {
  background: #8499e7;
}

.tile.style3 > .tile-image::before {
  background: #ae85ca;
}

.tile.style4 > .tile-image::before {
  background: #7bd0c1;
}

.tile-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}

.tile:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.space1 {
  background-image: url("/images/space1.jpg");
  background-size: 100%;
}

.space2 {
  background-image: url("/images/space2.jpg");
  background-size: 100%;
}

.running {
  background: url("/images/man_running-cropped.jpg");
  background-size: 100%;
}

.space4 {
  background-image: url("/images/space4.jpg");
  background-size: 100%;
}
