<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "| brogus.space" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nav-button').click(function(){
                $(this).toggleClass('open');
                $('#mobile-nav').toggleClass('mobile-nav-open');
            });
        });
    </script>
    <script type="text/javascript" src="/javascripts/site.js"></script>
  </head>
  <body>
    <nav id="navbar">

      <!-- mobile -->
      <div id="nav-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h3>brogus.space</h3>

      <!-- desktop & mobile -->
      <div id="mobile-nav">
        <ul class="navbar-list">
          <li><a id="title" href="/">brogus.space</a></li>
          <li><a class="navbar-items" href="/">Home</a></li>
          <li><a class="navbar-items" href="/implants.html">Brogal Implants</a></li>
          <li><a class="navbar-items" href="/seepage_and_discharge.html">Seepage and Discharge</a></li>
          <li><a class="navbar-items" href="/team.html">Our Team</a></li>
          <li><a class="navbar-items" href="/about.html">About the Brogus</a></li>
          <li><a class="navbar-items" href="/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <hr class="thin"/>
      <p>© 2017 Brogus Consultants, LLC</p>
    </footer>
  </body>
</html>
