---
Title: Wishlist
---
<h1>This my list</h1>
<section class="tiles">
  <article class="tile style1">
    <span class="tile-image">
      <img src="/images/stock3.jpg" alt="LA" />
    </span>
    <div>
      <h2>Running watch</h2>
      <div class="details">
        <p><a href="https://www.ebay.com/itm/Samsung-Gear-S2-SM-R730A-AT-T-Unlocked-Dark-Gray-and-White-SmartWatch-New/391614222801?hash=item5b2e06d1d1:m:mean-HWOcimHLi3CP_16FsQ">Galaxy Gear S2 3G (need to be the 3G model for GPS)</a></p>
      </div>
    </div>
  </article>
  <article class="tile style2">
    <span class="tile-image">
      <img src="/images/stock2.jpg" alt="Artisan" />
    </span>
    <div>
      <h2>Secret Hitler</h2>
      <div class="details">
        <p><a href="http://secrethitler.com/">Fascism for the low low price of $35</a></p>
      </div>
    </div>
  </article>
  <article class="tile style3">
    <span class="tile-image">
      <img src="/images/stock4.jpg" alt="wood" />
    </span>
    <div>
      <h2>Recording stuff</h2>
      <div class="details">
        <p>Behringer U-Phoria UMC22</p>
      </div>
    </div>
  </article>
  <article class="tile style4">
    <span class="tile-image">
      <img src="/images/stock1.jpg" alt="hand-crafted" />
    </span>
    <div>
      <h2>Yeasayer</h2>
      <div class="details">
        <p>CD, LP</p>
      </div>
    </div>
  </article>
</section>
