---
Title: Wishlist
---
<h1>This my list</h1>
<section class="tiles">
  <article class="tile">
    <img class="tile-image" src="/images/running.jpg" alt="running" />
    <span class="tile-text">
      <h3>Running watch</h3>
      <p class="details">more deets about the watches</p>
    </span>
  </article>
  <article class="tile space1">
    <header>
      <h3>Secret Hitler</h3>
      <p class="details">Gamexz</p>
    </header>
  </article>
  <article class="tile space2">
    <header>
      <h3>Amen & Goodbye by Yeasayer</h3> 
      <p class="details">CD</p>
    </header>
  </article>
  <article class="tile space4">
    <header>
      <h3>Recording stuff</h3>
      <p class="details">Novation Launchpad Mini - $100, Behringer U-Phoria UMC22 - $40</p>
    </header>
  </article>
</section>
