---
Title: Wishlist
---
<h1>This my list</h1>
<section class="tiles">
  <article class="tile style1">
    <span class="tile-image">
      <img src="/images/running.jpg" alt="running" />
    </span>
    <div>
      <h2>Running watch</h2>
      <div class="details">
        <p>more deets about the watches</p>
      </div>
    </div>
  </article>
  <article class="tile style2">
    <span class="tile-image">
      <img src="/images/space2.jpg" alt="space" />
    </span>
    <div>
      <h2>Secret Hitler</h2>
      <div class="details">
        <p>35</p>
      </div>
    </div>
  </article>
  <article class="tile style3">
    <span class="tile-image">
      <img src="/images/space3.jpg" alt="shpache" />
    </span>
    <div>
      <h2>Recording stuff</h2>
      <div class="details">
        <p>Behringer U-Phoria UMC22</p>
      </div>
    </div>
  </article>
  <article class="tile style4">
    <span class="tile-image">
      <img src="/images/space4.jpg" alt="spacee" />
    </span>
    <div>
      <h2>Yeasayer</h2>
      <div class="details">
        <p>CD, LP</p>
      </div>
    </div>
  </article>
</section>
